__pycache__/
.vscode/
.ipynb_checkpoints/
.DS_Store
miditoolkit.egg-info/
@eaDir
*.pyc
*.pypirc
Thumbs.db
*.gz
data
REMI-tempo-checkpoint
REMI-tempo-chord-checkpoint
result
*.wav
*.zip
*.logicx
*.midi

